.canvas {
  width: 100%;
  height: 100%;
  background: #A9C9DD;
  position: relative;
  overflow: hidden;
}

.grid-icons {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: aqua;
}

.iconBox {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.iconRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  
  /* border-right: 1px solid black; */
}

.icon:hover {
  opacity: 0.5;
}

.molecule {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
}