@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Regular.ttf");
}

.error-box {
  background-color: #f2dede;
  font-family: Roboto;
  color: #a94442;
  padding: 15px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 9;
  position: relative;
  width: 45%;
  height: auto;
}

.error-message {
  margin: 0;
}

p {
  font-size: x-large;
}