.elemButton {
  position: absolute;

  background: #DEF7FE;
  border-radius: 6px;
  border: 1px;
}

.elemButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  
}

.elemButton:active {
  border: 2px double gray; 
}

.configMenu {
  box-sizing: border-box;
  left: 590px;
  top: 190px;
  position: relative;
  width: 240px;
  height: 300px;
  background-color: beige;
  
  border-radius: 6px;
  border: 1px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Sidebar {
  position: absolute;
  height: 100%;
  top: 14%;
  left: 0px;
  box-sizing: border-box;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #677BAB;
  color: black;
}

button span {
  display: none;
}

.menuButton {
  height: 20px;
}

.hamburgerMenu {
  position: absolute;
  
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;

}

.bm-burger-bars {
  background: rgb(62, 62, 62);
}

.bm-burger-bars-hover {
  background: rgb(169, 169, 169);
}

.bm-cross-button {
  padding:2em;
  height: 24px;
  width: 24px;
}

.bm-cross {
  right: 10px;
  height: 50px;
  background: #ffffff;
}

.bm-menu {
  background: #A9C9DD;
  padding: 2em 1.25em 0;
  font-size: 1.25em;
}


.bm-item-list {
  padding: 3em;
}

.bm-item {
  display: block;
  color: #000000;
}