.Element {
    position: relative;
    justify-content: center;
    align-content: center;
}
.octagonTile {
    position: relative;
    left: 200px;
}

.OctagonInfo {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-content: space-between;
    display: flex;
    flex-direction: column;
}

#octSym {
    /* Chemical Symbol */
    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px; 
    text-align: center;
    
    width: 50;
    height: auto;
    color: #317389;
}


#octLabel {
    /* Chemical Name */

    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 9px;
    line-height: 14px;
    width: 100;
    height: auto;
    text-align: center;


    color: #317389;
}

#octNum {
    /* Atomic Number */

    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    width: 100;
    height: auto;
    text-align: center;
    color: #317389;
}


.octagon {
    transform: rotate(22.5deg);
    position: absolute;
    left: 0px;
}


/* single bond flex box */
.bond1 {
    position: relative;
    display: flex;
    align-self: inherit; 
}

/* double bond flex box */
.bond2 {
    position: relative;
    display: flex; 
    flex-direction: inherit;  
}

/* triple bond flex box */
.bond3 {
    position: relative;
    display: flex;   
    flex-direction: inherit; 
}

/* lone pair flex box */
.lone {
    position: relative;
    display: flex;
    flex-direction: inherit; 
    margin: 1px;
    align-content: center;
    justify-content: center;
}

/*  lone pair black circle */
#circle1 {
    position: relative;
    width: 7px;
    height: 7px;
    margin: -.5px;
    background: black;
    
    border-radius: 50%;
    align-self: center;
}

/* other bond circle - white w dark border */
#circle2 {
    position: relative;
    width: 6px;
    height: 6px;
    background: white;
    margin: 1px;
    border: 1px solid #3E374D;
    border-radius: 50%;
}

 .elemConfig {
    display: flex;
    width: 90px;
    height: 90px;
    margin: 5px;
    align-content: center;
    flex-direction: column;
} 

#elemRL {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 90px;
    justify-content: space-between;
}

#configRight {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5px;
}

#configLeft {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5px;
}

#configTop {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    
    margin: 5px 5px 5px 5px;
    width: 90px;
    height: 15px;
}

#configBottom {
    display: flex;
    align-self: center;

    justify-content: center;
    flex-direction: row;
    
    margin: 5px 5px 5px 5px;
    width: 90px;
    height: 15px;
}


.configMenu {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: beige;
    top: 10px;
    
    
    border-radius: 6px;
    border: 1px black;
    
    box-sizing: border-box;
    left: 10px ;
}


.configMenu {


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.oct-img {
    width: 500px;
    height: 500px;
    left: 200px;
    position: relative;
}