

.tutorialBox {
    position: relative;
    width: 150px;
    height: 50px;
    
    box-sizing:border-box;
  
    background-color:#95a9d6;
  
    z-index: 11;
    border-radius: 6px;
    border: 1px solid #495879;
  
    top: 90%;
    left: 45%;
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
  }
  
  
  
  

  
  
  .close {
    position: relative;
    width: 30px;
    margin: 2px;
  }
  
  .close:hover {
    opacity: 50%;
  }
  
  .arrow {
    position: relative;
    width: 100px;
    height: 100px;
  
    margin: 0px;
    padding: -200px;
  
    z-index: 100;
  
  }
  
  .tutorialScreen {
    width: 100%;
    height: 100%;
  }
  
  .temp-square {
    position: relative;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    
    left: -10px;
    top: 100px;
  
    background-color: #161b24;
  
    border-radius: 6px;
  
  
  }

  #page-one {
    transform: rotate(-90deg);
  }