

.tutorialBox {
    position: relative;
    width: 250px;
    
    box-sizing:border-box;
  
    background-color:#677BAB;
  
    z-index: 11;
    border-radius: 6px;
    border: 1px solid #495879;
  
    top: 90%;
    left: 40%;
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
  }
  
  .dir {
    position: relative;
    width: 60px;
    padding: 5px;
    font-size: 20px;
    
    font-family: 'Roboto';
    background-color:#93a2c3;
  
    border-radius: 6px;
    
    border: 1px solid #495879;
    color:#293142;
    margin: 2px;
  }
  
  
  .dir:hover {
    
    background-color:#b3c2e3;
    box-shadow: 1px 1px 2px #495879;
  
  }
  
  .dir:active{
  
    
    background-color:#93a2c3;
  }
  
  .close {
    position: relative;
    width: 60px;
    padding: 5px;
    font-size: 20px;
    
    font-family: 'Roboto';
    background-color:#93a2c3;
  
    border-radius: 6px;
    
    border: 1px solid #495879;
    color:#293142;
    margin: 2px;
  }
  
  .close:hover {
    
    background-color:#b3c2e3;
    box-shadow: 1px 1px 2px #495879;
  
  }
  
  .close:active{
  
    
    background-color:#93a2c3;
  }
  
  .arrow {
    position: relative;
    width: 100px;
    height: 100px;
  
    margin: 0px;
    padding: -200px;
  
    z-index: 100;
  
  }
  
  .tutorialScreen {
    width: 100%;
    height: 100%;
  }
  
  .temp-square {
    position: relative;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    
    left: -10px;
    top: 100px;
  
    background-color: #161b24;
  
    border-radius: 6px;
  
  
  }

  #page-one {
    transform: rotate(-90deg);
  }